.modal-content {
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
}

h2 {
    text-align: center;
}

.form-group {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
    margin-bottom: 15px;
    align-items: center;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 290px;
    height: 30px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.button-32 {
    background-color: yellow;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.button-32:hover {
    background-color: #ffd700;
}
